@model AmalgamateLabs.Models.WebGLGame
@using AmalgamateLabs.Base; @* For extension methods to work. *@

@{
    ViewData["OGType"] = "website";
}

@section AboveFoldStylesScripts {
    <link href="@Model.CanonicalUrl()" rel="canonical" />
    <link rel="stylesheet" href="~/css/app-details.css" />
}

@section Scripts {
    <script src="~/js/apps.js"></script>
}

@*TODO: This is pushing the page way past the footer, not on the home page though.*@
@*@section RichSnippet {
        <div id="RichSnippet" itemtype="https://schema.org/VideoGame" itemscope="">
            <h1 itemprop="name"><a href="@Model.CanonicalUrl()" itemprop="url">@Html.DisplayFor(model => model.Title)</a></h1>
            <img alt="@Html.DisplayFor(model => model.Title)" src="@Model.OpenGraphPicture.ImagePath()" itemprop="image">
            <img alt="@Html.DisplayFor(model => model.Title) Screenshot" src="@Model.Screenshot.ImagePath()" itemprop="screenshot">
            <div itemtype="https://schema.org/Person" itemscope="" itemprop="author">
                <p itemprop="name">@Html.DisplayFor(model => model.Designer)</p>
            </div>
            <div itemtype="https://schema.org/Organization" itemscope="" itemprop="publisher">
                <p itemprop="name">Amalgamate Labs</p>
            </div>
            <p>Application Category: <span itemprop="applicationCategory">Game</span></p>
            <p>Genre: <span itemprop="genre">@Html.DisplayFor(model => model.Genre)</span></p>
            <p>Game Platform: <span itemprop="gamePlatform">Browser</span></p>
            <p>Requires: <span itemprop="operatingSystem">WebGL</span></p>
            <p>Play Mode: <span itemprop="playMode">Single Player</span></p>
            <p>Rated: <span itemprop="contentRating">@Model.Rating</span></p>
            <div itemprop="description">@Html.DisplayFor(model => model.Description)</div>
            <div itemtype="https://schema.org/Offer" itemscope="" itemprop="offers">Price: $<span itemprop="price">0.00</span><meta content="USD" itemprop="priceCurrency"></div>
        </div>
    }*@

<!-- Jumbotron -->
<div class="jumbotron" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-7">

                <!-- Logo -->
                <figure class="text-center">
                    <a href="./index.html">
                        <img class="img-logo" src="~/images/apps/logos/sophron-budget.png" alt="">
                    </a>
                </figure>

                <!-- Title -->
                <h1>Your awesome title here</h1>

                <!-- Sub title -->
                <p>Architecto numquam perspiciatis commodi laboriosam quod debitis placeat maxime quaerat soluta quia porro dicta sunt nemo voluptates!</p>

                <!-- Button -->
                <!-- TODO: https://developer.microsoft.com/en-us/store/badges/ -->
                <p class="btn-app-store">
                    <a class="btn btn-danger btn-lg" href="#fakelinks">
                        <img src="images/btn-app-store.png" alt="">
                    </a>
                </p>

            </div>

            <div class="col-md-5">

                <!-- Images showcase -->
                <figure>
                    <img class="img-SurfacePro" src="~/images/apps/devices/sophron-budget/main.png" alt="">
                </figure>

            </div>
        </div>
    </div>
</div>

<!-- Features -->
<section class="features-section" id="section-2">
    <div class="container">

        <div class="row">
            <div class="col-md-5 col-features text-center">
                <figure>
                    <img class="img-SurfacePro img-SurfaceProLeft" src="~/images/apps/devices/sophron-budget/main.png" alt="">
                </figure>
            </div>
            <div class="col-md-7 col-features features-content">
                <h3 id="title-1">First title features</h3>
                <p>Omnis, esse quo natus soluta minima facilis ratione dignissimos necessitatibus quod dolorem labore molestiae maxime veritatis laudantium aut odio ullam laboriosam autem!</p>
            </div>
        </div>

        <div class="row media-screen-800">
            <div class="col-md-7 col-features features-content">
                <h3 id="title-2">Second title features</h3>
                <p>Omnis, esse quo natus soluta minima facilis ratione dignissimos necessitatibus quod dolorem labore molestiae maxime veritatis laudantium aut odio ullam laboriosam autem!</p>
            </div>
            <div class="col-md-5 col-features text-center">
                <figure>
                    <img class="img-SurfacePro margin-top margin-screen-800 img-SurfaceProRight" src="~/images/apps/devices/sophron-budget/main.png" alt="">
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-features text-center">
                <figure>
                    <img class="img-SurfacePro margin-top margin-top-1 img-SurfaceProLeft" src="~/images/apps/devices/sophron-budget/main.png" alt="">
                </figure>
            </div>
            <div class="col-md-7 col-features features-content">
                <h3 id="title-3">Third title features</h3>
                <p>Omnis, esse quo natus soluta minima facilis ratione dignissimos necessitatibus quod dolorem labore molestiae maxime veritatis laudantium aut odio ullam laboriosam autem!</p>

                <!-- Button -->
                <!-- TODO: https://developer.microsoft.com/en-us/store/badges/ -->
                <p class="btn-app-store">
                    <a class="btn btn-danger btn-lg" href="#fakelinks">
                        <img src="images/btn-app-store.png" alt="">
                    </a>
                </p>
            </div>
        </div>

    </div>
</section>

@* https://cssauthor.com/bootstrap-3-single-page-template/ *@